body {
  background-image: url("../images/background1.jpg");
  
 
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.a {

  backdrop-filter: blur(5px);
  padding-left: 2px;
  height: 400px;
  padding-top: 50px;
  font-weight: bold;
  width: 270px;
  border-radius: 30px;
  box-shadow: -5px -5px 5px lightblue;
  
 
}

#msg{
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}


